body{
    font-family:Arial, Helvetica, sans-serif;
    margin: 20px;
}

p{
    text-align: center;
}

h1{
    font-family: "Archivo Black", sans-serif;
    font-weight: bold;
    font-size: 100px;
    text-align: center;
    margin-bottom: 0;
    background-image: linear-gradient(to right, #E55D87 0%, #5FC3E4  51%, #E55D87  100%);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

label{
    font-weight: bold;
    background-image: linear-gradient(to right, #77A1D3 0%, #79CBCA  51%, #77A1D3  100%);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

legend{
    font-weight: bold;    
    background-image: linear-gradient(to right, #E55D87 0%, #5FC3E4  51%, #E55D87  100%);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.center{
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.centerMiddle{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);  
}

.parent {
    display:flex;
    justify-content:center;
  }

.right {
    margin-left: auto;
    
}

.left {
    margin-right: auto;
}

.button{
    background-image: linear-gradient(to right, #77A1D3 0%, #79CBCA  51%, #77A1D3  100%);
    margin: 5px;
    padding: 10px 10px;
    text-align: center;
    text-transform: uppercase;
    background-size: 200% auto;
    color: white;            
    border-radius: 10px;
} 

#waveform{
    position: relative
}

.playlist button {
    position: relative;
    background-color: white; 
    border: 1px solid #ddd; 
    color: black; 
    padding: 10px 15px; 
    cursor: pointer; 
    width: 80%;
    display: block;
    text-align: left;
}
  
.playlist button:not(:last-child) {
    border-bottom: none;
}
  
.playlist button:hover {
    background-color: #ddd;
}

.playlist button:active {
    background-color: #ddd;
}

.badge {
    float: right;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777777;
    border-radius: 10px;
  }

.flexContainer{
    display: flex;
    justify-content: center;
}

.flexChild{
    flex: 1;
    justify-content: center;
}